/* For testing only */
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
  background-color: white;
  opacity: .7;
}

.column {
  min-height: 100px;
}

/*/////////////////////          GENERAL          /////////////////////*/
body {
  margin: 0;
}


/*/////////////////////          GENERAL          /////////////////////*/
.col1 {
  height: 50vh
}

.col2 {
  height: 20vh;
  margin: 5vh 0;
}

.col3 {
  height: 20vh;
}
/*/////////////////////          @MEDIA          /////////////////////*/

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
/* Styles */
  body{
    background-color: blue;
  }
  .col1 {
    float:left;
    width: 70%;
    height: 100vh;
    margin: 0;
  }
  .col2 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 0 0 1vh 1%;
  }
  .col3 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 1vh 0 0 1%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {
  body{
    background-color: red;
  }
}

/* Smartphones Large (landscape) */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape){
  body{
    background-color: green;
  }
  .col1 {
    float:left;
    width: 70%;
    height: 100vh;
    margin: 0;
  }
  .col2 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 0 0 1vh 1%;
  }
  .col3 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 1vh 0 0 1%;
  }
}

/* Smartphones Large (portrait) */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
  body{
    background-color: orange;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  body{
    background-color: pink;
  }
  .col1 {
    float:left;
    width: 70%;
    height: 100vh;
    margin: 0;
  }
  .col2 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 0 0 1vh 1%;
  }
  .col3 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 1vh 0 0 1%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body{
    background-color: purple;
  }
  .col1 {
    height: 49vh;
    margin-bottom: 1vh;
  }

  .col2 {
    float: left;
    width: 49%;
    height: 49vh;
    margin: 1vh 1% 0 0;
  }
  .col3 {
    float: left;
    width: 49%;
    height: 49vh;
    margin: 1vh 0 0 1%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  body{
    background-color: green;
  }
  .col1 {
    float:left;
    width: 70%;
    height: 100vh;
    margin: 0;
  }
  .col2 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 0 0 1vh 1%;
  }
  .col3 {
    float: right;
    width: 29%;
    height: 49vh;
    margin: 1vh 0 0 1%;
  }
}
